*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-family: "Nanum Gothic Coding", monospace;
  background-color: #000;
  background-image: radial-gradient(
      circle at top right,
      rgba(121, 68, 154, 0.13),
      transparent
    ),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  overflow-x: hidden;
}
canvas {
  position: fixed;
  width: 100%;
  height: 100%;

  z-index: -100;
}
.nav {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 60px;
  // background-color: white;

  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1000;
}
@media only screen and (max-width: 600px) {
  .nav {
    width: 100vw;
    height: auto;
    padding: 10px;
  }
  .nav:hover {
    height: 150px;
  }
}
@media only screen and (min-width: 600px) {
  .nav:hover {
    width: 170px;
  }
}
.nav:hover .nav_left-up,
.nav:hover .nav_left-down {
  margin-left: 1rem;
  align-items: flex-start;
}
.nav:hover span {
  visibility: visible;
  width: 100%;
}
.nav:hover img {
  margin-right: 1rem;
}
.nav_left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .nav_left {
    flex-direction: row;
  }
}
.nav_left a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.nav_left-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .nav_left-up {
    width: 45%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.nav_left-up-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
@media only screen and (max-width: 600px) {
  .nav_left-up-item {
    margin-bottom: 0;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
  }
}
.nav_left-up-item-name {
  font-size: 2rem;
  visibility: hidden;
  width: 0;
  height: 0;
}
.nav_left-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .nav_left-down {
    width: 45%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.nav_left img {
  width: 40px;
  height: 40px;
}
@media only screen and (max-width: 450px) {
  .nav_left img {
    width: 30px;
    height: 30px;
  }
}
.outer {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 5%;
  right: 4%;
}
@media only screen and (max-width: 600px) {
  .outer {
    top: 10%;
  }
}
.outer-nav-circle {
  height: 100%;
  width: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg) translate(-50%, -50%);
  transition: all 0.5s;
}
.outer-nav-circle::before {
  content: "";
  height: 80%;
  width: 100%;
  display: block;
  background-color: white;
  transform: translatex(-1.5rem);
}
.outer-nav-circle::after {
  content: "";
  height: 80%;
  width: 100%;
  display: block;
  background-color: white;
  transform: translatex(1.5rem);
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.outer:hover .outer-nav-circle {
  transform: rotate(45deg) translate(-50%, -50%);

  position: absolute;
  top: 50%;
  left: 20%;
}
.outer:hover .outer-nav-circle::after {
  transform: rotate(90deg);
  height: 100%;
}
.outer:hover .outer-nav-circle::before {
  display: none;
}
.nav-help {
  width: 17rem;
}
@media only screen and (max-width: 600px) {
  .nav-help {
    width: 100vw;
  }
}
.nav-help-2 {
  margin-left: 1rem;
  align-items: flex-start;
}
.nav-help-3 {
  visibility: visible;
  width: 100%;
  height: 100%;
  margin-left: 1rem;
}
@media only screen and (max-width: 600px) {
  .mt-help {
    margin-top: 8rem;
  }
}
.section-1 {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) and (min-width: 600px) {
  .main {
    margin-left: 4rem;
  }
}
.main_name {
  text-align: center;
  color: white;
  line-height: 140%;
  margin-bottom: 6rem;
  font-size: 3.7rem;
  min-width: 500px;
}

.main .main_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 835px) {
  .main .main_buttons {
    flex-direction: column;
  }
}
.main .main_buttons a {
  text-decoration: none;
}
.anim1 {
  animation: anim1 2s ease-in-out;
}
.anim2 {
  animation: anim2 2s ease-in-out;
}
.main .main_buttons-btn {
  position: relative;
  color: white;
  font-size: 1.7rem;
  border: 2px solid #75b1ff;
  padding: 15px 40px;
  margin-right: 20px;
  overflow: hidden;
  transition: 1s all ease;
}
@media only screen and (max-width: 835px) {
  .main .main_buttons-btn {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .main .main_buttons-btn {
    padding: 15px 25px;
  }
}
.main .main_buttons-btn::before {
  background: #75acff;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}
.main .main_buttons .btn3::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.main .main_buttons .btn3:hover::before {
  height: 380%;
}
.main .main_buttons .btn4::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.main .main_buttons .btn4:hover::before {
  height: 380%;
}
.section-2 {
  min-height: 100vh;
  width: 100%;
  display: flex;
}
.main_skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
@media only screen and (max-width: 900px) {
  .main_skills {
    flex-direction: column;
  }
}
.main_skills-about {
  width: 35%;
  color: white;
  font-size: 2rem;
  transform: translateY(5rem);

  letter-spacing: 1.3px;
  line-height: 1.2;
  hyphens: auto;
}
@media only screen and (max-width: 1100px) {
  .main_skills-about {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .main_skills-about {
    width: 100%;
    font-size: 1.6rem;
  }
}
.main_skills-about h1 {
  font-size: 1.8rem;
  margin: 6rem 0;
  font-style: italic;
}
.main_skills-skill {
  width: 40%;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  transform: translateY(-5rem);
  line-height: 1.6;
}
@media only screen and (max-width: 1100px) {
  .main_skills-skill {
    width: 80%;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .main_skills-skill {
    width: 100%;
    margin-top: 7rem;
    font-size: 1.6rem;
  }
}
.main_skills-skill-item span {
  font-size: 1.8rem;
  color: #75acff;
}
.main_skills-skill h1 {
  font-size: 2rem;
  margin: 6rem 0;
  font-style: italic;
}

.hidden {
  display: none;
}
.about-btn {
  color: #75acff;
  border-bottom: 2px solid #75acff;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  cursor: pointer;
}
.section-3 {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.main-peojects {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-peojects-item {
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.main-peojects-item img {
  width: 400px;
  z-index: 10;
}
@media only screen and (max-width: 600px) {
  .main-peojects-item img {
    width: 350px;
  }
}
.mt-project {
  margin-top: 4rem;
}
.section-4 {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.contact {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 4rem 0;
}
@media only screen and (max-width: 1300px) {
  .contact {
    width: 80%;
  }
}
@media only screen and (max-width: 1000px) {
  .contact {
    width: 70%;
    flex-direction: column;
    margin-top: 12rem;
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    width: 90%;
  }
}
.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form h1 {
  font-size: 4rem;
  color: #75b1ff;
  text-align: center;
  margin-bottom: 4rem;
}
form {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 51;
}
form label {
  font-size: 2rem;
  color: white;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
form input,
form textarea {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 2px 8px 0 #75b1ff;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  font-size: 20px;
  padding: 15px 20px;
  margin-bottom: 2rem;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  color: white;
}
form input:focus,
form textarea:focus {
  background: rgba(255, 255, 255, 0.45);
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #12aa12;
}
form input:focus:invalid,
form textarea:focus:invalid {
  border-bottom: 3px solid orangered;
}
form .submit {
  display: flex;
  align-self: center;
  font-size: 2rem;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
  font-weight: 600;
  outline: none;

  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 2px 8px 0 #75b1ff;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  &:hover {
    transform: scale(1.1);
  }
}
.contact-map {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 1000px) {
    margin-top: 4rem;
  }
}
#map {
  width: 80%;
  height: 300px;
  border-radius: 15px;
  margin-bottom: 2rem;
}

.info {
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
}
@media only screen and (max-width: 600px) {
  .info {
    display: none;
  }
}
.info ul {
  list-style: none;
}
.info ul li {
  margin-top: 1rem;
} /*# sourceMappingURL=style.css.map */

@keyframes anim1 {
  0% {
    transform: translateX(-1000px);
    visibility: hidden;
  }
  80% {
    transform: translateX(120px);
    visibility: visible;
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes anim2 {
  0% {
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(-120px);
  }

  100% {
    transform: translateX(0px);
  }
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  display: none;

  &__container {
    width: 65%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 3rem 5rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    &-title {
      position: absolute;
      font-size: 1.5rem;
    }

    &-content {
      display: flex;
      flex-direction: row;

      &-img {
        width: 30%;
        height: 100%;
        margin: auto 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &-info {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        P {
          color: black;
          font-size: 1.7rem;
          margin-bottom: 2rem;
          display: flex;
          flex-direction: column;
        }
      }

      &-img-2 {
        width: 30%;
        height: 100%;
        margin: auto 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &-btn {
      display: flex;
      justify-content: center;
      a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        z-index: 50;
        font-size: 1.5rem;
        padding: 10px 25px;
        border: 2px solid #75acff;
      }
    }
  }
}

.close-btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-self: flex-end;
}
.close {
  height: 100%;
  width: 100%;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;

  &::before {
    content: "";
    width: 0.5rem;
    height: 3rem;
    display: block;
    background-color: black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    content: "";
    width: 0.5rem;
    height: 3rem;
    display: block;
    background-color: black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
  }
}
